## Data Wrangling with Python: Intro to Pandas
Note: Notebook adapted from [here](https://github.com/EricElmoznino/lighthouse_pandas_tutorial/blob/master/pandas_tutorial.ipynb) & [here](https://github.com/sedv8808/LighthouseLabs/tree/main/W02D2) & from LHL's [21 Day Data Challenge](https://data-challenge.lighthouselabs.ca/start)
#### Instructor: Andrew Berry
#### Date: July 27, 2021

**Agenda:**
 - Why Pandas?
 - Pandas Basics
     - Pandas Series vs. Pandas DataFrames
     - .loc() vs. iloc()
 - Pandas Advance
     - Filtering
     - Group bys
 - Pandas Exercises
     - Challenge 1
     - Challenge 2

### Pandas: Why Pandas? What is it?

To do data anlaysis with Python, Pandas is a great tool to for dealing with data in a tabular and time series formats. Designed by Wes McKinney as an attempt to port R's dataframes to python. 

- Python Package for working with **tables**
- Similar to SQL & Excel
    - Faster
    - More features to manipulate, transform, and aggregate data
- Easy to handle messy and missing data
- Great at working with large data files
- When combing with other Python libraries, it's fairly easy to create bautiful and customazied visuals. Easy integration with Matplotlib, Seaborn, Plotly.
- Easy integration with machine learning plugins (sckit-learn)
    
    
-----------
To read more about, Wes McKinney, the creator of Pandas, check out the article below.

1. https://qz.com/1126615/the-story-of-the-most-important-tool-in-data-science/

--------------

## Think of how we would try to represent a table in Python?

In [1]:
#A dicitonary of lists example
students = {
    'student_id': [1, 2, 3, 4,5,6],
    'name': ['Daenerys', 'Jon', 'Arya', 'Sansa', 'Eddard', 'Khal Drogo'],
    'course_mark': [82, 100, 12, 76, 46, 20],
    'species': ['cat', 'human', 'cat', 'human', 'human', 'human']
}

**What are some operations we might want to do on this data?**

- 1.Select a subset of columns
- 2.Filter out some rows based on an attribute
- 3.Group by some attribute
- 4.Compute some aggregate values within groups
- 5.Save to a file

How about we try out one of these to see how easy it is

### Try to return a table with the mean course mark per-species.

In [2]:
# Return a table with the mean course mark per-species
# Think about a SQL statment where we group by species with the average course mark

species_sums = {} #Tables of Sums
species_counts = {} #Count per Species
for i in range(len(students['species'])):  #iterating over the rows
    species = students['species'][i] #every row number I get species 
    course_mark = students['course_mark'][i] #  and course mark
    if species not in species_sums: #Intializing Species if not in list
        species_sums[species] = 0
        species_counts[species] = 0
    species_sums[species] += course_mark #Add each course mark for each species
    species_counts[species] += 1 

species_means = {}
                                  
for species in species_sums: # for every unique species we found
    species_means[species] = species_sums[species] / species_counts[species] #sum/count

species_means #return

{'cat': 47.0, 'human': 60.5}

- Did you like looking at is? Does this look fun to do?
- Super Tiring.

## Pandas Version

In [ ]:
# Pandas Version
import pandas as pd

# Can take in a dictionry of list to instatiate a DataFrame
students = pd.DataFrame(students) 
students

In [ ]:
species_means = students[['species', 'course_mark']].groupby('species').mean()
#species_means = students.groupby('species')['course_mark'].mean()
species_means

### Dissecting the above code!

In [ ]:
#Step 1: Filter out the columns we want to keep
students_filtered = students[['species','course_mark']]
students_filtered

In [ ]:
# Step 2: Group by species column
students_grouped_by_species = students_filtered.groupby('species') 
students_grouped_by_species

In [ ]:
#Step 3: Specify how to aggregate the course-mark column
species_means = students_grouped_by_species.mean()

In [ ]:
species_means

#### As shown, Pandas makes use of vectorized operations.


- Rather than use for-loops, we specify the operation that will apply to the structure as a whole (i.e. all the rows)
- By vectorizing, **the code becomes more concise and more readable**
- Pandas is optimized for vectorized operations (parallel vs. serial computation), which makes them **much faster**
- It is almost always possible to vectorize operations on Pandas data types

### Getting Started: Pandas Series & Pandas DataFrames

There are two Pandas data types of interest:

- Series (column)
    - A pandas series is similar to an array but it has an index. The index is constant, and doesnt change through the operations we apply to the series. 
- DataFrame (table)
    - A pandas dataframe is an object that is similar to a collection of pandas series.

In [ ]:
# One way to construct a Series
series = pd.Series([82, 100, 12, 76, 46, 20]) 
series

In [ ]:
#We can specify some index when building a series. 
grades = pd.Series([82, 100, 12, 76, 46, 20], 
                   index = ['Daenerys', 'Jon', 'Arya', 'Sansa', 'Eddard', 'Khal Drogo'] ) 

grades

In [ ]:
print("The values:", grades.values)
print("The indexes:", grades.index)

**Note:** The underlying index is still 0, 1, 2, 3.... and we can still index on that:

In [ ]:
grades[2]

### Pandas DataFrames

In [ ]:
# One way to construct a DataFrame
df = pd.DataFrame({
    'name': ['Daenerys', 'Jon', 'Arya', 'Sansa'],
    'course_mark': [82, 100, 12, 76],
    'species': ['human', 'human', 'cat', 'human']},
    index=[1412, 94, 9351, 14])
    # Underlying index is still 1, 2 , 3
df

#### Reading a CSV file

We'll use the function `read_csv()` to load the data into our notebook

- The `read_csv()` function can read data from a locally saved file or from a URL
- We'll store the data as a variable `df_pokemon`

In [ ]:
df_pokemon = pd.read_csv('pokemon.csv')

In [ ]:
df_pokemon

**What do we see here?**
- Each row of the table is an observation, containing data of a single pokemon

In [ ]:
df_pokemon.shape

For large DataFrames, it's often useful to display just the first few or last few rows:

In [ ]:
df_pokemon.head()

> **Pro tip:**
> - To display the documentation for this method within Jupyter notebook, you can run the command `df_pokemon.head?` or press `Shift-Tab` within the parentheses of `df_pokemon.head()`
> - To see other methods available for the DataFrame, type `df_pokemon.` followed by `Tab` for auto-complete options

In [ ]:
df_pokemon.head?

## Data at a Glance

`pandas` provides many ways to quickly and easily summarize your data:
- How many rows and columns are there?
- What are all the column names and what type of data is in each column?
- How many values are missing in each column or row?
- Numerical data: What is the average and range of the values?
- Text data: What are the unique values and how often does each occur?

### Peeking into the pokemon dataset

- Similar with getting familar with SQL tables, it is often a great idea to look at the pandas dataframes we are working with. Below are some of the basic methods to glance at a dataset.

In [ ]:
#Getting the Columns
df_pokemon.columns

In [ ]:
#Getting Summary Statistics
df_pokemon.describe()

In [ ]:
df_pokemon[['Total', 'Attack']].describe()

In [ ]:
df_pokemon['Attack'].describe()

In [ ]:
std_attack = df_pokemon['Attack'].std()
std_attack

In [ ]:
df_pokemon.HP.mean()

In [ ]:
df_pokemon['Sp. Atk'].mean()

In [ ]:
#Checking for Missing Data
df_pokemon.isnull().sum() / len(df_pokemon) * 100   # Percentage

## The .loc() vs .iloc() method


To select rows and columns at the same time, we use the syntax `.loc[<rows>, <columns>]`:

In [ ]:
#Notice the square brackets on loc and the colon
df_pokemon.loc[10:20, ['Name']]
# Notice that row 20 is not excluded with Pandas

In [ ]:
#Taking a slice of index values

In [ ]:
# Getting more than one columns
df_pokemon.loc[10:20, ['Name', 'Legendary', 'Attack']]

In [ ]:
#we can also feed in a list for the rows
df_pokemon.loc[[10, 14, 24, 321, 732], ['Name', 'Legendary', 'Attack']]

In [ ]:
#We can also slice over  range of column values

In [ ]:
#Iloc is use for integer based indexing
df_pokemon.iloc[0:3,1:4]

### Modifying a Column or Creating a new column

In [ ]:
df_pokemon.head(3)

In [ ]:
#Make a hard copy of the dataset so work can safely be done without 
# modifying the original.

df2 = df_pokemon.copy()

In [ ]:
df2['Attack'] = df2['Attack'] * 2

In [ ]:
df2.head(3)

In [ ]:
#Create a filler column
df2['filler'] = True
df2.head(3)

In [ ]:
df2['Total_Defense'] = df2['Defense'] + df2['Sp. Def']

In [ ]:
#Copy total and creat that

In [ ]:
#Modify an orginal

In [ ]:
#Modify Data Frame with .loc() method
df2.loc[1,['Name']] = 'Andrew'

### Sort_values() & value_counts()

1. ***df.sort_values()***
2. ***df.value_counts()***


The ***pandas.sort_values()*** allows us to reorder our dataframe in an ascending or descending order given a column for pandas to work from. This is similar to the excel sort function.

```python
import pandas as pd
df = pd.read_csv('random.csv')
df


df.sort_values(by=['some_column'], ascending = True)
```
In the above code snippet, we are sorting our *random.csv* pandas data frame by the column *some_column* in ascending order. To read more on the ***df.sort_values()*** function, read this [article](https://datatofish.com/sort-pandas-dataframe/).

The second function is ***df.value_counts()***, it allows us to count how many times a specific value/item occurred in the dataframe. This function is best used on a specific column on a data frame, ideally on a column representing categorical data. Categorical data refers to a statistical data type consisting of categorical variables. 

```python
df['column'].value_counts()
```

To read more on some of the advanced functionalities of ***df.value_counts()***, please refer to the pandas documentation or this [article](https://towardsdatascience.com/getting-more-value-from-the-pandas-value-counts-aa17230907a6).

In [ ]:
df2.head(3)

In [ ]:
df2.sort_values(by=['Generation'],ascending=False)
# Save this into another variable if you want to save the dataset that way
another_variable = df2.sort_values(by=['Generation'],ascending=False)
another_variable

In [ ]:
#You can also sort by multiple values
df2.sort_values(by=['Attack', 'Defense'],ascending=[True, False]).head(10)

In [ ]:
#value_counts

df2['Type 1'].value_counts(ascending = True)

In [ ]:
df2['Type 1'].value_counts().sort_index()

In [ ]:
#Just Unique Values
df2['Type 1'].unique()

In [ ]:
#How many unique Values
df2['Type 1'].nunique()

### How to Query or Filter Data with Conditions?

- We can extract specific data from our dataframe based on a specific condition. We will be using the syntax below. Pandas will return a subset of the dataframe based on the given condition. 

```python
df[<insert_condition>]
```

Conditions follow the generic boolean logic in Python. Below is a cheat sheet python boolean logic.

**Conditional Logic:** 

Conditional logic refers to the execution of different actions based on whether a certain condition is met. In programming, these conditions are expressed by a set of symbols called **Boolean Operators**. 

| Boolean Comparator | Example | Meaning                         |
|--------------------|---------|---------------------------------|
| >                  | x > y   | x is greater than y             |
| >=                 | x >= y  | x is greater than or equal to y |
| <                  | x < y   | x is less than y                |
| <=                 | x <= y  | x is less than or equal to y    |
| !=                 | x != y  | x is not equal to y             |
| ==                 | x == y  | x is equal to y                 |

In [ ]:
#Step 1: Create a filter
#the_filter = df2['Total'] > 300
the_filter = (df2['Total'] > 300) & (df2['Legendary'] == True)

In [ ]:
#Step 2: Apply Filter
df2[the_filter]

In [ ]:
#Finding Only Legendary Pokemons

### Grouping and Aggregation 

Grouping and aggregation can be used to calculate statistics on groups in the data.

**Common Aggregation Functions**
- mean()
- median()
- sum()
- count()

In [ ]:
df = df_pokemon.copy()

In [ ]:
df[['Attack','Defense','Type 1']].groupby('Type 1').mean()

- By default, `groupby()` assigns the variable that we're grouping on (in this case `Type 1`) to the index of the output data
- If we use the keyword argument `as_index=False`, the grouping variable is instead assigned to a regular column
  - This can be useful in some situations, such as data visualization functions which expect the relevant variables to be in columns rather than the index

In [ ]:
# Reset index
df[['Attack','Defense','Type 1']].groupby('Type 1').mean().reset_index()
# or
# df[['Attack','Defense','Type 1']].groupby('Type 1', as_index = False).mean()

In [ ]:
df[['Attack','Defense','Type 1','Legendary']].groupby(['Type 1', 'Legendary']).mean()

We can use the `agg` method to compute multiple aggregated statistics on our data, for example minimum and maximum country populations in each region:

In [ ]:
df[['Attack','Type 1']].groupby('Type 1').agg(['min','max','mean'])

We can also use `agg` to compute different statistics for different columns:

In [ ]:
agg_dict =  {
    
    'Attack': 'mean',
    'Defense': ['min','max']
}

In [ ]:
df[['Attack','Defense','Type 1']].groupby('Type 1').agg(agg_dict).reset_index()

### Challenge 1 (20 minutes)

Let's play around with Pandas on a more intricate dataset: a dataset on wines!

**Challenge 14 from the 21 Day Data Challenge** 

Dot's neighbour said that he only likes wine from Stellenbosch, Bordeaux, and the Okanagan Valley, and that the sulfates can't be that high. The problem is, Dot can't really afford to spend tons of money on the wine. Dot's conditions for searching for wine are: 
1. Sulfates cannot be higher than 0.6. 
2. The price has to be less than  $20. 

Use the above conditions to filter the data for questions **2 and 3** below. 

**Questions:**
1. Where is Stellenbosch, anyway? How many wines from Stellenbosch are there in the *entire dataset*? 
2. *After filtering with the 2 conditions*, what is the average price of wine from the Bordeaux region? 
3. *After filtering with the 2 conditions*, what is the least expensive wine that's of the highest quality from the Okanagan Valley?



**Stretch Question:**
1. What is the average price of wine from Stellenbosch, according to the entire unfiltered dataset?

In [ ]:
#Write your Code Below

In [ ]:
import pandas as pd
df = pd.read_csv('winequality-red_2.csv')
df = df.drop(columns = ['Unnamed: 0'])

df.head()

In [ ]:
# Question 2
# Sulfates cannot be higher than 0.6.
# The price has to be less than $20.

wine_filter = (df['sulphates'] <= 0.6) & (df['price'] < 20)
df_filtered = df[wine_filter]

In [ ]:
s_filter = df['region'] == 'Stellenbosch'
df['region'].value_counts()

In [ ]:
df_filtered.groupby('region')['price'].mean()
# Q2 answer: 11.3

In [ ]:
filter_region = df['region'] == 'Okanagan Valley'
df_filtered = df_filtered[filter_region]
df_filtered.sort_values(by=['price','quality'],ascending=[True,False])

### Challenge 2 (25 minutes)

**Challenge 21 from the 21DDC (Adapted)**

Dot wants to play retro video games with all their new friends! Help them figure out which games would be best.

Questions: 
    
1. What is the top 5 best selling games released before the year 2000.

     -  **Note**: Use Global_Sales
    
    
2. Create a new column called Aggregate_Score, which returns the proportional average between Critic Score and User_Score based on Critic_Count and User_Count. Plot a horizontal bar chart of the top 5 highest rated games by Aggregate_Score, not published by Nintendo before the year 2000. From this bar chart, what is the highest rated game by Aggregate_Score?

    -  **Note**: Critic_Count should be filled with the mean. User_Count should be filled with the median.
    
    
#### In the exercise above, there is some missing values in the dataset. Look up the pandas documentation to figure out how to fill missing values in a column. You will be using the **fillna()** function in pandas.

In [ ]:
df = pd.read_csv('video_games.csv')
df.head(2)

In [ ]:
df2 = df.fillna(value={'Critic_Count':df['Critic_Count'].mean(), 'User_Count':df['User_Count'].median()})

In [ ]:
df_filter = df2['Year_of_Release'] < 2000.0
df2[df_filter].sort_values(by = ['Global_Sales'], ascending = False).head(5)

In [ ]:
df3 = df2.copy()

In [ ]:
df3['User_Score'] = df3['User_Score'] * 10

In [ ]:
df3['Aggregate'] = (df3['Critic_Score'] * df3['Critic_Count'] + df3['User_Score'] * df3['User_Count'])/(df3['Critic_Count'] + df3['User_Count'])

In [ ]:
df3['Aggregate'].describe()

In [ ]:
df3_filter = (df3['Publisher'] != 'Nintendo') & (df3['Year_of_Release'] < 2000.0)

In [ ]:
df3_plotThis = df3[df3_filter].sort_values(by = ['Aggregate'], ascending = False).iloc[0:5, [0,-1]]
df3_plotThis

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter

In [ ]:
df3_plotThis.plot.barh(x = 'Name', y = 'Aggregate')

# HINT

**How to create the Aggregate Score Column?**

\begin{equation*}
AggregateScore = \frac{(CriticCount * CriticScore)+(UserCount * UserScore)}{UserCount + CriticCount}
\end{equation*}

**Check Your Column Values**

The Critic_Score column is scored out of 100. The User_Score column is scored out of 10. You will need to modify one of the columns to match the other.

## Documentation

In the meantime, check out pandas the user guide in the [pandas documentation](https://pandas.pydata.org/docs/user_guide/index.html#user-guide).

-------
**Why should I use the documentation?**

On the job as a data scientist or data analyst, more often than not, you may find yourself looking up the documentation of a particular function or plugin you use. Don't worry if there are a few functions you don't know by heart. However, there are just too many to know! An essential skill is to learn how to navigate documentation and understand how to apply the examples to your work. 

--------

Additional resources:

- To learn more about these topics, as well as other topics not covered here (e.g. reshaping, merging, additional subsetting methods, working with text data, etc.) check out [these introductory tutorials](https://pandas.pydata.org/docs/getting_started/index.html#getting-started) from the `pandas` documentation
- To learn more about subsetting your data, check out [this tutorial](https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html#min-tut-03-subset)
- This [pandas cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) may also be helpful as a reference.