https://sqlzoo.net/wiki/More_JOIN_operations

Two different methods to join tables:

In [ ]:
SELECT title FROM movie, casting, actor
  WHERE actor.name = 'Harrison Ford'
  AND casting.movieid = movie.id
  AND casting.actorid = actor.id


SELECT title FROM movie
JOIN casting ON movie.id=casting.movieid
JOIN actor ON actor.id=casting.actorid
WHERE name = 'Harrison Ford'