## Optimization exercise

**Goal: Train the 2nd order polynomial predictor using both gradient descent and stochastic gradient descent. Optimize the stepsizes and compare against scikit-learn's implementation.**

1. Download the data from [here](https://drive.google.com/file/d/0Bz9_0VdXvv9bUUNlUTVrMF9VcVU/view?usp=sharing).


2. Create a function psi(x), which transforms features AST (assists), REB (rebounds) and STL (steals) into 2nd order polynomial features (add each feature squared and each pair of features multiplied with every other)


3. Create a transformed data matrix X, where each x is mapped to psi(x).


4. Create a function p2(x,w), which outputs the value of the polynomial at x for given parameters w.


5. Create a function Loss(X,y,w), which computes the squared loss of predicting y from X by p2(x,w) using parameters w. Take variable PTS as y. We will predict scored points based on assists, rebounds and steals.


6. Code up the gradient descent. It should input a point w and a stepsize.


7. Choose an arbitrary point and stepsize. Run gradient descent for 100 iterations and compute the Loss after each iteration. How does the loss behave? Does it converge to something?


8. Can you find the stepsize, for which the loss is smallest after 100 iterations?

In [1]:
# IMPORT PACKAGES
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
nb = pd.read_csv('nba_games_2013_2015.csv', delimiter=';')
x = nb[['AST','REB','STL']]
y = nb['PTS']

In [3]:
nb

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7375,22013,1610612753,ORL,Orlando Magic,21300001,2013-10-29,ORL @ IND,L,241,87,...,0.600,13,26,39,17,10,6,17,26,-10.0
7376,22013,1610612748,MIA,Miami Heat,21300002,2013-10-29,MIA vs. CHI,W,239,107,...,0.759,5,35,40,26,10,7,18,21,12.0
7377,22013,1610612747,LAL,Los Angeles Lakers,21300003,2013-10-29,LAL vs. LAC,W,240,116,...,0.643,18,34,52,23,8,6,19,23,13.0
7378,22013,1610612741,CHI,Chicago Bulls,21300002,2013-10-29,CHI @ MIA,L,238,95,...,0.783,11,30,41,23,11,4,18,27,-12.0
7379,22013,1610612754,IND,Indiana Pacers,21300001,2013-10-29,IND vs. ORL,W,241,97,...,0.688,10,34,44,17,4,18,20,13,10.0

In [4]:
x

      AST  REB  STL
0      41   43   14
1      23   43    8
2      20   39    7
3      19   47    6
4      21   43    4
...   ...  ...  ...
7375   17   39   10
7376   26   40   10
7377   23   52    8
7378   23   41   11
7379   17   44    4

[7380 rows x 3 columns]

In [5]:
x2 = x.copy()
x2

      AST  REB  STL
0      41   43   14
1      23   43    8
2      20   39    7
3      19   47    6
4      21   43    4
...   ...  ...  ...
7375   17   39   10
7376   26   40   10
7377   23   52    8
7378   23   41   11
7379   17   44    4

[7380 rows x 3 columns]

In [66]:
def psi(x):
    x_1 = x.copy()
    
    x_1['constant'] = 1
    x_1['AST*AST'] = x_1['AST']*x_1['AST']
    x_1['REB*REB'] = x_1['REB']*x_1['REB']
    x_1['STL*STL'] = x_1['STL']*x_1['STL']
    x_1['AST*REB'] = x_1['AST']*x_1['REB']
    x_1['AST*STL'] = x_1['AST']*x_1['STL']
    x_1['REB*STL'] = x_1['REB']*x_1['STL']
    
    #x_1 = x_1.drop(columns=['AST','REB','STL'])
    
    return x_1

3. Create a transformed data matrix X, where each x is mapped to psi(x).

In [67]:
# x^0 + x^1 + x^2

x3 = psi(x2)
x3

,AST,REB,STL,constant,AST*AST,REB*REB,STL*STL,AST*REB,AST*STL,REB*STL
0,41,43,14,1,1681,1849,196,1763,574,602
1,23,43,8,1,529,1849,64,989,184,344
2,20,39,7,1,400,1521,49,780,140,273
3,19,47,6,1,361,2209,36,893,114,282
4,21,43,4,1,441,1849,16,903,84,172
...,...,...,...,...,...,...,...,...,...,...
7375,17,39,10,1,289,1521,100,663,170,390
7376,26,40,10,1,676,1600,100,1040,260,400
7377,23,52,8,1,529,2704,64,1196,184,416
7378,23,41,11,1,529,1681,121,943,253,451
7379,17,44,4,1,289,1936,16,748,68,176

4. Create a function p2(x,w), which outputs the value of the polynomial at x for given parameters w.

In [68]:
def p2(x,w):    
    
    w = np.array(w)
    
    x_psi = x * w
    
    x_psi['p2(x,w)'] = x_psi.sum(axis=1)
    
    return x_psi

In [69]:
p2(x3,[1,1,1,1,2,3,2,1,2,3])

,AST,REB,STL,constant,AST*AST,REB*REB,STL*STL,AST*REB,AST*STL,REB*STL,"p2(x,w)"
0,41,43,14,1,3362,5547,392,1763,1148,1806,14117
1,23,43,8,1,1058,5547,128,989,368,1032,9197
2,20,39,7,1,800,4563,98,780,280,819,7407
3,19,47,6,1,722,6627,72,893,228,846,9461
4,21,43,4,1,882,5547,32,903,168,516,8117
...,...,...,...,...,...,...,...,...,...,...,...
7375,17,39,10,1,578,4563,200,663,340,1170,7581
7376,26,40,10,1,1352,4800,200,1040,520,1200,9189
7377,23,52,8,1,1058,8112,128,1196,368,1248,12194
7378,23,41,11,1,1058,5043,242,943,506,1353,9221
7379,17,44,4,1,578,5808,32,748,136,528,7896

5. Create a function Loss(X,y,w), which computes the squared loss of predicting y from X by p2(x,w) using parameters w. Take variable PTS as y. We will predict scored points based on assists, rebounds and steals.

In [12]:
def loss(X,y,w):    
    loss_df = p2(X,w)
    
    loss_df['sq_loss'] = (y - loss_df['p2(x,w)'])**2
    
    return loss_df

In [70]:
loss(x3,nb['PTS'],[1,1,1,1,2,3,2,1,2,3])

,AST,REB,STL,constant,AST*AST,REB*REB,STL*STL,AST*REB,AST*STL,REB*STL,"p2(x,w)",sq_loss
0,41,43,14,1,3362,5547,392,1763,1148,1806,14117,195244729
1,23,43,8,1,1058,5547,128,989,368,1032,9197,82901025
2,20,39,7,1,800,4563,98,780,280,819,7407,53421481
3,19,47,6,1,722,6627,72,893,228,846,9461,87609600
4,21,43,4,1,882,5547,32,903,168,516,8117,64112049
...,...,...,...,...,...,...,...,...,...,...,...,...
7375,17,39,10,1,578,4563,200,663,340,1170,7581,56160036
7376,26,40,10,1,1352,4800,200,1040,520,1200,9189,82482724
7377,23,52,8,1,1058,8112,128,1196,368,1248,12194,145878084
7378,23,41,11,1,1058,5043,242,943,506,1353,9221,83283876
7379,17,44,4,1,578,5808,32,748,136,528,7896,60824401

6. Code up the gradient descent. It should input a point w and a stepsize.

In [ ]:
# X = x3
# y = nb['PTS']
# alpha = 0.01
# w = [1,2,3,2,1,2,3]
# max_iters = 10

In [59]:
def grad_descent(X, y, alpha, w, max_iters):
    # Expected input: X should be all x values from the polynomial equation
    
    w = np.array(w)
    
    df = X.copy()
    
    #number of observation in X and y
    m = len(y)
    loss_func_history = []
    
    # computing initial loss
    loss_func_history.append(loss(X,y,w)['sq_loss'])
    
    for k in range(max_iters):
        
        # compute predictions with actual w        
        predictions = p2(X, w)['p2(x,w)']
        
        # number of coeffcients
        w_size = len(w)
        # computing gradient of each w separately (approximates partial derivation of function)

        for i in range(w_size):
            #taking 1 variable only from the dataframe
            temp = df.iloc[:, i]
            #errors multiply by the variable in place
            errors_x1 = (predictions - y) * temp
            # adjusting w[i]
            # gradient is basically sum of the errors divided by number of observation, np.mean could be used as well

            w[i] = w[i] - alpha * (1.0 / m) * errors_x1.sum()
       
        loss_func_history.append(loss(X,y,w)['sq_loss'])

    return loss_func_history

In [73]:
loss_func_history = grad_descent(x3,nb['PTS'],alpha=0.01, w=[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1], max_iters=100)
loss_func_history[-1]

F:\Anaconda\envs\lhl\lib\site-packages\ipykernel_launcher.py:37: RuntimeWarning: invalid value encountered in double_scalars

0       20736.0
1        8464.0
2        9604.0
3       10201.0
4       12100.0
         ...
7375     7569.0
7376    11449.0
7377    13456.0
7378     9025.0
7379     9409.0
Name: sq_loss, Length: 7380, dtype: float64

In [16]:
def gradient_descent(stepsize,w):
    past_scores = []
    past_Ws = [w]
    
    for i in range(0,100):
        prediction = p2(x3,w)['p2(x,w)']
        
        error = prediction - nb['PTS']
        
        score = 1/(2*7380) * np.dot(error.T, error)
        past_scores.append(score)
        
        w = w - (stepsize * (1/7380) * np.dot(x3.T, error))
        past_Ws.append(w)
    
    return past_Ws, past_scores

7. Choose an arbitrary point and stepsize. Run gradient descent for 100 iterations and compute the Loss after each iteration. How does the loss behave? Does it converge to something?

In [20]:
gradient_descent(0.01, [1,2,3,2,1,2,3])
#past_Ws, past_scores = gradient_descent(0.01, [1,2,3,2,1,2,3])

F:\Anaconda\envs\lhl\lib\site-packages\ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in subtract
  del sys.path[0]

([[1, 2, 3, 2, 1, 2, 3],
  array([-9.01166409e+01, -4.88405692e+04, -1.85784995e+05, -6.51967454e+03,
         -9.20162548e+04, -1.64432924e+04, -3.19558902e+04]),
  array([4.82801680e+06, 2.56324283e+09, 9.94591585e+09, 3.30586533e+08,
         4.87899493e+09, 8.47224937e+08, 1.66389719e+09]),
  array([-2.57524893e+11, -1.36682238e+14, -5.30598174e+14, -1.76275413e+13,
         -2.60227606e+14, -4.51759949e+13, -8.87441220e+13]),
  array([1.37375264e+16, 7.29119129e+18, 2.83045621e+19, 9.40327723e+17,
         1.38816773e+19, 2.40987540e+18, 4.73400478e+18]),
  array([-7.32822119e+20, -3.88945238e+23, -1.50989413e+24, -5.01613523e+22,
         -7.40511754e+23, -1.28553696e+23, -2.52533337e+23]),
  array([3.90920650e+25, 2.07481080e+28, 8.05446208e+28, 2.67583468e+27,
         3.95022651e+28, 6.85763886e+27, 1.34712768e+28]),
  array([-2.08534856e+30, -1.10679845e+33, -4.29661643e+33, -1.42741193e+32,
         -2.10723049e+33, -3.65817648e+32, -7.18619180e+32]),
  array([1.11241977e+35, 5.90416638e+37, 2.29201063e+38, 7.61446448e+36,
         1.12409259e+38, 1.95143773e+37, 3.83344157e+37]),
  array([-5.93415304e+39, -3.14955089e+42, -1.22266272e+43, -4.06190169e+41,
         -5.99642118e+42, -1.04098564e+42, -2.04493210e+42]),
  array([3.16554714e+44, 1.68011370e+47, 6.52223909e+47, 2.16680312e+46,
         3.19876380e+47, 5.55309091e+46, 1.09085979e+47]),
  array([-1.68864683e+49, -8.96249069e+51, -3.47925899e+52, -1.15587134e+51,
         -1.70636611e+52, -2.96227127e+51, -5.81914231e+51]),
  array([9.00801027e+53, 4.78100019e+56, 1.85599500e+57, 6.16594347e+55,
         9.10253294e+56, 1.58021024e+56, 3.10419519e+56]),
  array([-4.80528240e+58, -2.55040296e+61, -9.90072151e+61, -3.28919470e+60,
         -4.85570510e+61, -8.42956015e+60, -1.65591891e+61]),
  array([2.56335620e+63, 1.36050094e+66, 5.28149519e+66, 1.75460606e+65,
         2.59025396e+66, 4.49671080e+65, 8.83342464e+65]),
  array([-1.36741079e+68, -7.25753086e+70, -2.81738976e+71, -9.35986681e+69,
         -1.38175928e+71, -2.39875007e+70, -4.71215049e+70]),
  array([7.29439112e+72, 3.87149707e+75, 1.50292385e+76, 4.99297869e+74,
         7.37093248e+75, 1.27960239e+75, 2.51367540e+75]),
  array([-3.89116001e+77, -2.06523263e+80, -8.01727939e+80, -2.66348194e+79,
         -3.93199065e+80, -6.82598119e+79, -1.34090879e+80]),
  array([2.07572174e+82, 1.10168902e+85, 4.27678149e+85, 1.42082241e+84,
         2.09750266e+85, 3.64128885e+84, 7.15301741e+84]),
  array([-1.10728439e+87, -5.87691033e+89, -2.28142978e+90, -7.57931300e+88,
         -1.11890332e+90, -1.94242909e+89, -3.81574484e+89]),
  array([5.90675857e+91, 3.13501128e+94, 1.21701841e+95, 4.04315030e+93,
         5.96873925e+94, 1.03618003e+94, 2.03549185e+94]),
  array([-3.15093369e+96, -1.67235761e+99, -6.49212977e+99, -2.15680027e+98,
         -3.18399700e+99, -5.52745558e+98, -1.08582394e+99]),
  array([1.68085135e+101, 8.92111617e+103, 3.46319731e+104, 1.15053537e+103,
         1.69848882e+104, 2.94859622e+103, 5.79227877e+103]),
  array([-8.96642562e+105, -4.75892914e+108, -1.84742697e+109,
         -6.13747895e+107, -9.06051193e+108, -1.57291534e+108,
         -3.08986496e+108]),
  array([4.78309926e+110, 2.53862926e+113, 9.85501574e+113, 3.27401044e+112,
         4.83328918e+113, 8.39064586e+112, 1.64827451e+113]),
  array([-2.55152270e+115, -1.35422032e+118, -5.25711365e+118,
         -1.74650608e+117, -2.57829629e+118, -4.47595215e+117,
         -8.79264594e+117]),
  array([1.36109826e+120, 7.22402713e+122, 2.80438354e+123, 9.31665784e+121,
         1.37538051e+123, 2.38767646e+122, 4.69039728e+122]),
  array([-7.26071723e+124, -3.85362465e+127, -1.49598574e+128,
         -4.96992906e+126, -7.33690524e+127, -1.27369523e+127,
         -2.50207125e+127]),
  array([3.87319682e+129, 2.05569867e+132, 7.98026836e+132, 2.65118621e+131,
         3.91383897e+132, 6.79446968e+131, 1.33471861e+132]),
  array([-2.06613936e+134, -1.09660317e+137, -4.25703812e+137,
         -1.41426332e+136, -2.08781973e+137, -3.62447917e+136,
         -7.11999616e+136]),
  array([1.10217271e+139, 5.84978012e+141, 2.27089776e+142, 7.54432380e+140,
         1.11373801e+142, 1.93346205e+141, 3.79812980e+141]),
  array([-5.87949056e+143, -3.12053879e+146, -1.21140016e+147,
         -4.02448546e+145, -5.94118511e+146, -1.03139660e+146,
         -2.02609519e+146]),
  array([3.13638769e+148, 1.66463733e+151, 6.46215945e+151, 2.14684360e+150,
         3.16929837e+151, 5.50193859e+150, 1.08081133e+151]),
  array([-1.67309185e+153, -8.87993266e+155, -3.44720978e+156,
         -1.14522402e+155, -1.69064790e+156, -2.93498430e+155,
         -5.76553925e+155]),
  array([8.92503293e+157, 4.73695998e+160, 1.83889849e+161, 6.10914585e+159,
         9.01868491e+160, 1.56565412e+160, 3.07560088e+160]),
  array([-4.76101852e+162, -2.52690991e+165, -9.80952096e+165,
         -3.25889627e+164, -4.81097674e+165, -8.35191121e+164,
         -1.64066540e+165]),
  array([2.53974383e+167, 1.34796868e+170, 5.23284466e+170, 1.73844350e+169,
         2.56639382e+170, 4.45528932e+169, 8.75205550e+169]),
  array([-1.35481488e+172, -7.19067807e+174, -2.79143736e+175,
         -9.27364834e+173, -1.36903120e+175, -2.37665397e+174,
         -4.66874449e+174]),
  array([7.22719880e+176, 3.83583475e+179, 1.48907965e+180, 4.94698584e+178,
         7.30303509e+179, 1.26781533e+179, 2.49052067e+179]),
  array([-3.85531656e+181, -2.04620873e+184, -7.94342818e+184,
         -2.63894726e+183, -3.89577110e+184, -6.76310363e+183,
         -1.32855700e+184]),
  array([2.05660121e+186, 1.09154081e+189, 4.23738589e+189, 1.40773450e+188,
         2.07818150e+189, 3.60774709e+188, 7.08712735e+188]),
  array([-1.09708463e+191, -5.82277514e+193, -2.26041437e+194,
         -7.50949612e+192, -1.10859654e+194, -1.92453640e+193,
         -3.78059608e+193]),
  array([5.85234843e+195, 3.10613311e+198, 1.20580784e+199, 4.00590680e+197,
         5.91375817e+198, 1.02663525e+198, 2.01674191e+198]),
  array([-3.12190884e+200, -1.65695268e+203, -6.43232748e+203,
         -2.13693289e+202, -3.15466759e+203, -5.47653939e+202,
         -1.07582187e+203]),
  array([1.66536818e+205, 8.83893926e+207, 3.43129605e+208, 1.13993720e+207,
         1.68284318e+208, 2.92143521e+207, 5.73892316e+207]),
  array([-8.88383134e+209, -4.71509224e+212, -1.83040938e+213,
         -6.08094353e+211, -8.97705098e+212, -1.55842642e+212,
         -3.06140265e+212]),
  array([4.73903971e+214, 2.51524466e+217, 9.76423621e+217, 3.24385187e+216,
         4.78876731e+217, 8.31335538e+216, 1.63309142e+217]),
  array([-2.52801934e+219, -1.34174591e+222, -5.20868772e+222,
         -1.73041813e+221, -2.55454630e+222, -4.43472189e+221,
         -8.71165244e+221]),
  array([1.34856050e+224, 7.15748297e+226, 2.77855094e+227, 9.23083740e+225,
         1.36271119e+227, 2.36568237e+226, 4.64719166e+226]),
  array([-7.19383510e+228, -3.81812697e+231, -1.48220545e+232,
         -4.92414853e+230, -7.26932130e+231, -1.26196258e+231,
         -2.47902341e+231]),
  array([3.83751885e+233, 2.03676259e+236, 7.90675807e+236, 2.62676480e+235,
         3.87778662e+236, 6.73188238e+235, 1.32242384e+236]),
  array([-2.04710710e+238, -1.08650181e+241, -4.21782439e+241,
         -1.40123582e+240, -2.06858777e+241, -3.59109226e+240,
         -7.05441027e+240]),
  array([1.09202004e+243, 5.79589484e+245, 2.24997938e+246, 7.47482922e+244,
         1.10347880e+246, 1.91565195e+245, 3.76314331e+245]),
  array([-5.82533160e+247, -3.09179393e+250, -1.20024134e+251,
         -3.98741389e+249, -5.88645785e+250, -1.02189588e+250,
         -2.00743181e+250]),
  array([3.10749684e+252, 1.64930351e+255, 6.40263323e+255, 2.12706794e+254,
         3.14010436e+255, 5.45125745e+254, 1.07085543e+255]),
  array([-1.65768016e+257, -8.79813511e+259, -3.41545579e+260,
         -1.13467479e+259, -1.67507449e+260, -2.90794867e+259,
         -5.71242995e+259]),
  array([8.84281994e+261, 4.69332545e+264, 1.82195947e+265, 6.05287141e+263,
         8.93560924e+264, 1.55123209e+264, 3.04726996e+264]),
  array([-4.71716237e+266, -2.50363327e+269, -9.71916051e+269,
         -3.22887693e+268, -4.76666040e+269, -8.27497753e+268,
         -1.62555240e+269]),
  array([2.51634897e+271, 1.33555186e+274, 5.18464229e+274, 1.72242982e+273,
         2.54275347e+274, 4.41424940e+273, 8.67143589e+273]),
  array([-1.34233499e+276, -7.12444110e+278, -2.76572402e+279,
         -9.18822408e+277, -1.35642036e+279, -2.35476141e+278,
         -4.62573832e+278]),
  array([7.16062542e+280, 3.80050094e+283, 1.47536299e+284, 4.90141665e+282,
         7.23576315e+283, 1.25613684e+283, 2.46757922e+283]),
  array([-3.81980330e+285, -2.02736006e+288, -7.87025725e+288,
         -2.61463858e+287, -3.85988518e+288, -6.70080526e+287,
         -1.31631899e+288]),
  array([2.03765682e+290, 1.08148607e+293, 4.19835319e+293, 1.39476714e+292,
         2.05903832e+293, 3.57451431e+292, 7.02184423e+292]),
  array([-1.08697883e+295, -5.76913862e+297, -2.23959255e+298,
         -7.44032235e+296, -1.09838469e+298, -1.90680852e+297,
         -3.74577110e+297]),
  array([5.79843949e+299,             inf,             inf, 3.96900636e+301,
                     inf, 1.01717839e+302, 1.99816468e+302]),
  array([-inf,  nan,  nan,  nan,  nan,  nan,  nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan]),
  array([nan, nan, nan, nan, nan, nan, nan])],
 [43982707.45115176,
  1.2456222199558938e+17,
  3.544590306546011e+26,
  1.0086630972438531e+36,
  2.8702929143690495e+45,
  8.167822771339875e+54,
  2.32426901414984e+64,
  6.614034855277435e+73,
  1.8821167773828372e+83,
  5.355828387991414e+92,
  1.5240764051581463e+102,
  4.33697407849712e+111,
  1.2341470607311298e+121,
  3.51193929210453e+130,
  9.993717915692292e+139,
  2.8438531953830918e+149,
  8.092584826905626e+158,
  2.3028589973274273e+168,
  6.553109636787905e+177,
  1.8647796483241086e+187,
  5.306493145303588e+196,
  1.5100373669597125e+206,
  4.297024017891517e+215,
  1.2227787082853813e+225,
  3.47958904397684e+234,
  9.901660728081558e+243,
  2.81765702601417e+253,
  8.018039937210839e+262,
  2.2816461989928745e+272,
  6.492745631284e+281,
  1.8476022203251813e+291,
  5.2576123544754696e+300,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  inf,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477,
  5193.944647696477])

In [19]:
w = past_Ws[-1]

#Print the results...
print("Gradient Descent: {:.2f}, {:.2f}".format(w[0], w[1]))

Gradient Descent: nan, nan

F:\Anaconda\envs\lhl\lib\site-packages\ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in subtract
  del sys.path[0]

8. Can you find the stepsize, for which the loss is smallest after 100 iterations?

In [74]:
# Do 100 iterations per step size

losses = []
steps = [1, 0.1, 0.01, 0.001, 0.0001, 0.00001, 0.000001, 0.0000001, 0.00000001]
for alpha in steps:
    print(f"Step: {alpha}")
    losses.append(grad_descent(x3,nb['PTS'],alpha=0.01, w=[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1], max_iters=100))

Step: 1

F:\Anaconda\envs\lhl\lib\site-packages\ipykernel_launcher.py:37: RuntimeWarning: invalid value encountered in double_scalars

Step: 0.1
Step: 0.01
Step: 0.001
Step: 0.0001
Step: 1e-05
Step: 1e-06
Step: 1e-07
Step: 1e-08

In [75]:
# All seem to converge to the same values

for list in losses:
    print(list[-1])

0       20736.0
1        8464.0
2        9604.0
3       10201.0
4       12100.0
         ...
7375     7569.0
7376    11449.0
7377    13456.0
7378     9025.0
7379     9409.0
Name: sq_loss, Length: 7380, dtype: float64
0       20736.0
1        8464.0
2        9604.0
3       10201.0
4       12100.0
         ...
7375     7569.0
7376    11449.0
7377    13456.0
7378     9025.0
7379     9409.0
Name: sq_loss, Length: 7380, dtype: float64
0       20736.0
1        8464.0
2        9604.0
3       10201.0
4       12100.0
         ...
7375     7569.0
7376    11449.0
7377    13456.0
7378     9025.0
7379     9409.0
Name: sq_loss, Length: 7380, dtype: float64
0       20736.0
1        8464.0
2        9604.0
3       10201.0
4       12100.0
         ...
7375     7569.0
7376    11449.0
7377    13456.0
7378     9025.0
7379     9409.0
Name: sq_loss, Length: 7380, dtype: float64
0       20736.0
1        8464.0
2        9604.0
3       10201.0
4       12100.0
         ...
7375     7569.0
7376    11449.0
7377    13456.0
7378     9025.0
7379     9409.0
Name: sq_loss, Length: 7380, dtype: float64
0       20736.0
1        8464.0
2        9604.0
3       10201.0
4       12100.0
         ...
7375     7569.0
7376    11449.0
7377    13456.0
7378     9025.0
7379     9409.0
Name: sq_loss, Length: 7380, dtype: float64
0       20736.0
1        8464.0
2        9604.0
3       10201.0
4       12100.0
         ...
7375     7569.0
7376    11449.0
7377    13456.0
7378     9025.0
7379     9409.0
Name: sq_loss, Length: 7380, dtype: float64
0       20736.0
1        8464.0
2        9604.0
3       10201.0
4       12100.0
         ...
7375     7569.0
7376    11449.0
7377    13456.0
7378     9025.0
7379     9409.0
Name: sq_loss, Length: 7380, dtype: float64
0       20736.0
1        8464.0
2        9604.0
3       10201.0
4       12100.0
         ...
7375     7569.0
7376    11449.0
7377    13456.0
7378     9025.0
7379     9409.0
Name: sq_loss, Length: 7380, dtype: float64