# Prediction of sales

### Problem Statement
[The dataset](https://drive.google.com/file/d/1B07fvYosBNdIwlZxSmxDfeAf9KaygX89/view?usp=sharing) represents sales data for 1559 products across 10 stores in different cities. Also, attributes of each product and store are available. The aim is to build a predictive model and determine the sales of each product at a particular store.

|Variable|Description|
|: ------------- |:-------------|
|Item_Identifier|Unique product ID|
|Item_Weight|Weight of product|
|Item_Fat_Content|Whether the product is low fat or not|
|Item_Visibility|The % of total display area of all products in a store allocated to the particular product|
|Item_Type|The category to which the product belongs|
|Item_MRP|Maximum Retail Price (list price) of the product|
|Outlet_Identifier|Unique store ID|
|Outlet_Establishment_Year|The year in which store was established|
|Outlet_Size|The size of the store in terms of ground area covered|
|Outlet_Location_Type|The type of city in which the store is located|
|Outlet_Type|Whether the outlet is just a grocery store or some sort of supermarket|
|Item_Outlet_Sales|Sales of the product in the particulat store. This is the outcome variable to be predicted.|

Please note that the data may have missing values as some stores might not report all the data due to technical glitches. Hence, it will be required to treat them accordingly.



### In following weeks, we will explore the problem in following stages:

1. **Hypothesis Generation – understanding the problem better by brainstorming possible factors that can impact the outcome**
2. **Data Exploration – looking at categorical & continuous feature summaries and making inferences about the data**
3. **Data Cleaning – imputing missing values in the data and checking for outliers**
4. **Feature Engineering – modifying existing variables and/or creating new ones for analysis**
5. **Model Building – making predictive models on the data**
---------

In [1]:
import pandas as pd
import numpy as np
import datetime

#Read files:
data_x = pd.read_csv("regression_exercise2.csv", delimiter=',')

In [2]:
data = data_x.iloc[:,1:]
data.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Size_missing_val,Item_Weight_missing_val
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,0,0
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,0,0

## 4. Feature Engineering

1. Resolving the issues in the data to make it ready for the analysis.
2. Create some new variables using the existing ones.

### Create a broad category of Type of Item

`Item_Type` variable has many categories which might prove to be very useful in analysis. Look at the `Item_Identifier`, i.e. the unique ID of each item, it starts with either FD, DR or NC. If you see the categories, these look like being Food, Drinks and Non-Consumables. 

**Task:** Use the Item_Identifier variable to create a new column

In [3]:
data['Item_ID_Type'] = data['Item_Identifier'].str[:2]
data.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Size_missing_val,Item_Weight_missing_val,Item_ID_Type
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,0,0,FD
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,0,0,DR

In [4]:
Item_ID_Type_dict = {'FD':'Food', 'DR':'Drink', 'NC':'Non-Consumable'}
data['Item_ID_Type'] = data.apply(lambda row: Item_ID_Type_dict[row['Item_ID_Type']], axis=1)

In [5]:
data.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Size_missing_val,Item_Weight_missing_val,Item_ID_Type
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,0,0,Food
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,0,0,Drink

### Determine the years of operation of a store

**Task:** Make a new column depicting the years of operation of a store (i.e. how long the store exists).

In [6]:
currentDateTime = datetime.datetime.now()
date = currentDateTime.date()
current_year = int(date.strftime("%Y"))
current_year

data['Years_of_Operation'] = current_year - data['Outlet_Establishment_Year']
data.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Size_missing_val,Item_Weight_missing_val,Item_ID_Type,Years_of_Operation
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,0,0,Food,22
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,0,0,Drink,12

### Modify categories of Item_Fat_Content

**Task:** There are difference in representation in categories of Item_Fat_Content variable. This should be corrected.

In [7]:
data['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [8]:
fat_dict = {'LF':'Low Fat', 'reg':'Regular', 'low fat':'Low Fat'}

data['Item_Fat_Content'] = data.apply(lambda row: fat_dict[row['Item_Fat_Content']] if ((row['Item_Fat_Content'] != 'Low Fat') & (row['Item_Fat_Content'] != 'Regular')) else row['Item_Fat_Content'],  axis=1)

In [9]:
data['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

**Task:** There are some non-consumables as well and a fat-content should not be specified for them. Create a separate category for such kind of observations.

In [10]:
data['Item_ID_Type'].value_counts()

Food              6125
Non-Consumable    1599
Drink              799
Name: Item_ID_Type, dtype: int64

In [11]:
data['Item_Fat_Content'] = data.apply(lambda row: 'Fat-free' if (row['Item_ID_Type'] == 'Non-Consumable') else row['Item_Fat_Content'],  axis=1)

In [12]:
data['Item_Fat_Content'].value_counts()

Low Fat     3918
Regular     3006
Fat-free    1599
Name: Item_Fat_Content, dtype: int64

### Numerical and One-Hot Encoding of Categorical variables

Since scikit-learn algorithms accept only numerical variables, we need to **convert all categorical variables into numeric types.** 

- if the variable is Ordinal we can simply map its values into numbers
- if the variable is Nominal (we cannot sort the values) we need to One-Hot Encode them --> create dummy variables

In [13]:
data.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Size_missing_val,Item_Weight_missing_val,Item_ID_Type,Years_of_Operation
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,0,0,Food,22
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,0,0,Drink,12

In [14]:
data['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [15]:
# lets map ORDINAL features
# (if it relates to size)
data = data.replace({"Item_Fat_Content" :     {"Fat-free": 0, "Low Fat": 1, "Regular": 2},
                     #pd dummies "Item_Type" :            {"Fruits and Vegetables" : 0, "Snack Foods" : 1, "Household": 2, "Frozen Foods" : 3, "Dairy" : 4, "Canned" : 5, "Baking Goods": 6, "Health and Hygiene" : 7, "Soft Drinks" : 8, "Meat" : 9, "Breads": 10},
                     #"Outlet_Identifier" :    {"OUT027" : 27, "OUT013" : 13, "OUT046": 46, "OUT035" : 35, "OUT049" : 49, "OUT045" : 45, "OUT018": 18, "OUT017" : 17, "OUT010" : 10, "OUT019" : 19},                           
                     "Outlet_Size" :          {"Small" : 1, "Medium" : 2, "High": 3},
                     "Outlet_Location_Type" : {"Tier 1" : 1, "Tier 2" : 2, "Tier 3" : 3}}
                         )

In [16]:
cat_feats = ['Item_Type', 'Outlet_Identifier', 'Outlet_Type', 'Item_ID_Type']
cat_feats

['Item_Type', 'Outlet_Identifier', 'Outlet_Type', 'Item_ID_Type']

In [17]:
df_dummy = pd.get_dummies(data[cat_feats])
df_dummy

,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,Item_Type_Health and Hygiene,Item_Type_Household,...,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_ID_Type_Drink,Item_ID_Type_Food,Item_ID_Type_Non-Consumable
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
8519,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
8520,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
8521,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
8522,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0

In [24]:
numerical_df = pd.concat([data,df_dummy],axis=1)
numerical_df = numerical_df.drop(columns=cat_feats)
numerical_df = numerical_df.drop(columns='Item_Identifier')
numerical_df

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,Outlet_Size_missing_val,Item_Weight_missing_val,...,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_ID_Type_Drink,Item_ID_Type_Food,Item_ID_Type_Non-Consumable
0,9.300,1,0.016047,249.8092,1999,2,1,3735.1380,0,0,...,0,0,1,0,1,0,0,0,1,0
1,5.920,2,0.019278,48.2692,2009,2,3,443.4228,0,0,...,0,0,0,0,0,1,0,1,0,0
2,17.500,1,0.016760,141.6180,1999,2,1,2097.2700,0,0,...,0,0,1,0,1,0,0,0,1,0
3,19.200,2,0.000000,182.0950,1998,2,3,732.3800,1,0,...,0,0,0,1,0,0,0,0,1,0
4,8.930,0,0.000000,53.8614,1987,3,3,994.7052,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,1,0.056783,214.5218,1987,3,3,2778.3834,0,0,...,0,0,0,0,1,0,0,0,1,0
8519,8.380,2,0.046982,108.1570,2002,2,2,549.2850,1,0,...,1,0,0,0,1,0,0,0,1,0
8520,10.600,0,0.035186,85.1224,2004,1,2,1193.1136,0,0,...,0,0,0,0,1,0,0,0,0,1
8521,7.210,2,0.145221,103.1332,2009,2,3,1845.5976,0,0,...,0,0,0,0,0,1,0,0,1,0
8522,14.800,1,0.044878,75.4670,1997,1,1,765.6700,0,0,...,0,1,0,0,1,0,0,1,0,0

In [19]:
numerical_df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_MRP', 'Outlet_Establishment_Year', 'Outlet_Size',
       'Outlet_Location_Type', 'Item_Outlet_Sales', 'Outlet_Size_missing_val',
       'Item_Weight_missing_val', 'Years_of_Operation',
       'Item_Type_Baking Goods', 'Item_Type_Breads', 'Item_Type_Breakfast',
       'Item_Type_Canned', 'Item_Type_Dairy', 'Item_Type_Frozen Foods',
       'Item_Type_Fruits and Vegetables', 'Item_Type_Hard Drinks',
       'Item_Type_Health and Hygiene', 'Item_Type_Household', 'Item_Type_Meat',
       'Item_Type_Others', 'Item_Type_Seafood', 'Item_Type_Snack Foods',
       'Item_Type_Soft Drinks', 'Item_Type_Starchy Foods',
       'Outlet_Identifier_OUT010', 'Outlet_Identifier_OUT013',
       'Outlet_Identifier_OUT017', 'Outlet_Identifier_OUT018',
       'Outlet_Identifier_OUT019', 'Outlet_Identifier_OUT027',
       'Outlet_Identifier_OUT035', 'Outlet_Identifier_OUT045',
       'Outlet_Identifier_OUT046', 'Outlet_Identifier_OUT049',
       'Outlet_Type_Grocery Store', 'Outlet_Type_Supermarket Type1',
       'Outlet_Type_Supermarket Type2', 'Outlet_Type_Supermarket Type3',
       'Item_ID_Type_Drink', 'Item_ID_Type_Food',
       'Item_ID_Type_Non-Consumable'],
      dtype='object')

In [20]:
numerical_df.dtypes

Item_Identifier                     object
Item_Weight                        float64
Item_Fat_Content                     int64
Item_Visibility                    float64
Item_MRP                           float64
Outlet_Establishment_Year            int64
Outlet_Size                          int64
Outlet_Location_Type                 int64
Item_Outlet_Sales                  float64
Outlet_Size_missing_val              int64
Item_Weight_missing_val              int64
Years_of_Operation                   int64
Item_Type_Baking Goods               uint8
Item_Type_Breads                     uint8
Item_Type_Breakfast                  uint8
Item_Type_Canned                     uint8
Item_Type_Dairy                      uint8
Item_Type_Frozen Foods               uint8
Item_Type_Fruits and Vegetables      uint8
Item_Type_Hard Drinks                uint8
Item_Type_Health and Hygiene         uint8
Item_Type_Household                  uint8
Item_Type_Meat                       uint8
Item_Type_Others                     uint8
Item_Type_Seafood                    uint8
Item_Type_Snack Foods                uint8
Item_Type_Soft Drinks                uint8
Item_Type_Starchy Foods              uint8
Outlet_Identifier_OUT010             uint8
Outlet_Identifier_OUT013             uint8
Outlet_Identifier_OUT017             uint8
Outlet_Identifier_OUT018             uint8
Outlet_Identifier_OUT019             uint8
Outlet_Identifier_OUT027             uint8
Outlet_Identifier_OUT035             uint8
Outlet_Identifier_OUT045             uint8
Outlet_Identifier_OUT046             uint8
Outlet_Identifier_OUT049             uint8
Outlet_Type_Grocery Store            uint8
Outlet_Type_Supermarket Type1        uint8
Outlet_Type_Supermarket Type2        uint8
Outlet_Type_Supermarket Type3        uint8
Item_ID_Type_Drink                   uint8
Item_ID_Type_Food                    uint8
Item_ID_Type_Non-Consumable          uint8
dtype: object

**All variables should be by now numeric.**

---------
### Exporting Data

**Task:** You can save the processed data to your local machine as a csv file.

In [25]:
numerical_df.to_csv(r'C:\Users\Nik\Coding\Compass\NOTES\Week_3\Day_3\data_preparation_exercise\numerical_df.csv')